body {
  font-family: sans-serif;
}

#jogo {
  text-align: center;
  background-color: white;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
}

p {
  margin-bottom: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  margin-right: 10px;
}

#palpite {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}

#resultado {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}
