@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Estilos adicionais podem ser definidos em seu arquivo CSS global se necessário */
.bg-primary {
  @apply bg-light-primary dark:bg-dark-primary;
}

.text-textPrimary {
  @apply text-light-textPrimary dark:text-dark-textPrimary;
}

.bg-secondary {
  @apply bg-light-secondary dark:bg-dark-secondary;
}
